.btn-default {
    margin-bottom: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1000px;
    margin-left: 300px;
    margin-top: 20px;
  
}
/* .widget-shadow{
    height: 550px;
} */


input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-btn {
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    color: #eeeeee;
    background: #6164C1;
    padding: .5em 1em;
    font-size: 1em;
    margin: 0 0 0;
    margin-left: 5px;
}
.update_btn{
    margin-top:-15px ;
}

.flex {
    display: flexbox;
    flex: content;
    flex-direction: row;
    justify-content: end;
}

/* .title1{
    margin-top:  10px;  
}  */



.error {
    font-size: 15px;
    margin-top: -10px;
}

.required {
    color: #e93e18;
}



.action-btn {
    margin-right: 20px;
    background: #4c51e9;

}
.btn {
    float: right;
    color: #ffffff;
}
label.error {
    color: #dc3545;
    font-size: 14px;
}

td {
    text-align: center;
}

.d-flex {
    width: 230px;
}

th{
    text-align: center;
    margin-left: auto;
    margin-left: auto;
}
.toast-success{
    background: #6164C1;
}